.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #F8F9FA;;
  text-align: center;
}

.blue-box {
  background-color: #FB3E17;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.centered {
  margin-bottom: 20px;
}

.logo {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
}

.btn {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-orange {
  background-color: #FB3E17;
  color: white;
}

.btn-orange:hover {
  background-color: #FB3E17;
}

.error-message {
  color: red;
  margin-top: 10px;
}
.blue-box h2 {
  color: rgb(255, 255, 255);
}
